<p>Hello there!!</p>
<p>
	Well guess what! <b>Someone just added a comment on your Nomster post!</b>Why dont you come check it out when you have the time! <%= link_to 'Click Me', place_url(@place) %>
</p>

Thanks for using my nomster,<br />
Nomster-Wamble	